<!DOCTYPE html>
<head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

    <script src="/js/layout.js"></script>
</body>

</html>
