<footer class="footer">
    Made with&nbsp;
    <span class="heart">
        &#x2764;
    </span>
    &nbsp;by&nbsp;
    <a href="https://BharathKumarRavichandran.github.io">
        Bharath Kumar Ravichandran
    </a>
</footer>