doctype html
html
  head
    title Register | Application Name
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Raleway', rel='stylesheet')
    link(rel='stylesheet', href='/css/material-raised-button.css')
    link(rel='stylesheet', href='/css/material-flat-input.css')
    link(rel='stylesheet', href='/css/site-template.css')
    link(rel='stylesheet', href='/css/footer.css')
    link(rel='stylesheet', href='/css/register.css')
    
    //
      Uncomment navbar if you want navbar
      <% include ../partials/navbar-links%>
  body
    //
      Uncomment navbar if you want navbar
      <% include ../partials/navbar%>
    .container-fluid
      a(onclick='#', style='text-decoration: none; color:black;')
        h1.title Application Name
      .tagline Application Tagline
      h2#registerTitle.register-title Register
      .container
        .row
          .col-md-4
          .col-md-4
            .text-center
              form.formClass(method='post', action='/user/register', autocomplete='off')
                .form-group
                  input#usernameIn.username-input.material-flat-input(type='text', placeholder='Username', name='username', required='required')
                .form-group
                  input#emailIn.email-input.material-flat-input(type='text', placeholder='Email', name='email', required='required')
                .form-group
                  input#companyNameIn.username-input.material-flat-input(type='text', placeholder='Company name', name='company_name', required='required')
                .form-group
                  input#mobNoIn.username-input.material-flat-input(type='number', placeholder='Mobile Number', name='mobile_number', min='0', required='required')
                .form-group
                  input#passIn.pass-input.material-flat-input(type='password', placeholder='Password', name='password', required='required')
                .form-group
                  input.pass-input.material-flat-input(type='password', placeholder='Confirm Password', name='confirm_password', required='required')
                .form-group
                  input#submitIn.submit-input.form-control.btn.material-raised-button(type='submit', value='Register', name='register')
          .col-md-4
      .container(style='margin-top: 5vh;')
        .row(style='margin-top: 20px;')
          .col-md-4
          .col-md-4
            .row
              .col-md-8.under-text Already have an account?
              .col-md-4
                a(href='/user/login')
                  button.btn.material-raised-button Login
          .col-md-4

include ../partials/footer.pug
